:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
  
    /* background: var(--primary-background); */
    color: var(--primary-color);
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    /* font-family: 'Roboto Mono', monospace; */
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    background: var(--primary-background);
    margin: 0;
    min-width: 320px;
    width: 100vw;
    min-height: 100vh;
    
}

/* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
} */